body {
    margin-top: 20px;
    background-color: #ECEFF1;
    color: #3B4040;
}

.widget {
    padding: 18px;
    background-color: #fff;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2), -3px 3px 15px rgba(0, 0, 0, 0.44);
    margin-bottom: 10px;
}

.widget > input {
    display: block;
    width: 100%;
    min-height: 30px;
    margin-bottom: 20px;
    border: 0 none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.folder-container {
    padding: 0 20px;
    margin: 0;
    list-style-type: none;
}

.folder-wrapper {
    margin: 0;
    padding: 0;

}

.file-item,
.folder-item {
    margin-left: -16px;
    padding-left: 20px;

    list-style-type: none;
}

.file-item {
    margin-left: 0;
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAsUlEQVQ4T2NkgIKE2q4DMDZW+j+jAgPj//0LmssSkeUZEQZ0/1/QXArnoxuSUNPdwMDIEMDwn2HDgpbSBpg8aQYw/H/PwMCQwMDIMHFBc9kCkCGkGODAwMAAwiBd9TDXYhiQUNtdwPCfgR97ePy7uKClfENCLcK7RLsA2UC8BoADi4HhP44YObigpfTAsHfBgMcC3vwAzze0TAcUuKDrAMN/RlwJCNVcRoaPC5pLA0CCALOMnRHTr6OKAAAAAElFTkSuQmCC') no-repeat left center;
}

.folder-item {
    font-weight: bold;
    background: transparent url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA6UlEQVQ4T62TvQ3CMBCF31OgDxPACGwATAAjeAOgSKpECgoCiRTABmYDNgA2yAawAUpNwiGHH0GBlATcuPH3vbPvTPy4+COPXKCCpY30sgORPIU6dLtF5FTeYgWgA2KtQ1fnQj8amQ2C81fJVcZ65sZUfhTr0GmrYN5iZjWLpIqwC0oLVjah8hd7WPUBsvQIwC4ieD9zFwgDELuyMCCHuwDcAliWFgg2jwoQgxxWEDzeICfZqSDoPa9QHjZpVq1B5UUnEIXa91GhSKKnrm3mQEqXngNyMNNqBKYD/QqSsQ6d1X8+U4X0F3IDjRRPOikDqHUAAAAASUVORK5CYII=') no-repeat left center;
}

#search {
    margin: 0;
    visibility: hidden;
}